@import "./common.css";

body {
  width: 100%;
  height: 100vh;

  background-color: var(--ColorBackground);
  color: var(--ColorPrimary);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#app {
  display: felx;
  width: 80%;
  height: 80%;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin: 4.8rem;
  font-weight: 900;
}

h2 {
  line-height: 1.8;
  font-weight: 900;
}

.info-cont {
  border: 1px dashed var(--ColorPrimary);
  padding: 2rem;
  margin: 2rem 0;

  .info-list > li {
    padding-left: 2rem;
    text-indent: -1rem;

    &:before {
      content: "-";
      padding-right: 1rem;
    }
  }
}

.form-cont {
  border: 1px dashed var(--ColorPrimary);
  padding: 2rem;
  margin: 2rem 0;
}

.type-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1.2rem;

  .length-labl {
    position: relative;
    display: flex;
    margin: 1.2rem 0;
    align-items: center;
    margin-bottom: 1.2rem;
    font-weight: 900;
  }
  .error-txt {
    color: var(--ColorError);
    font-weight: 900;
    position: absolute;
    bottom: -50%;
  }

  input {
    /* background-color: transparent; */
    height: 100%;
    width: 100%;
    background-color: var(--ColorBackground);
    color: var(--ColorPrimary);
    border: 1px inset var(--ColorPrimary);
    padding: 0.8rem 2rem;
  }
}

.type-set {
  legend {
    font-weight: 900;
    margin-bottom: 1.2rem;
  }
  .check-box {
    display: flex;
    padding-left: 2rem;
    align-items: center;
    height: 3rem;
  }

  input[type="checkbox"] {
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    visibility: hidden;
  }

  input:checked + label {
    text-decoration: underline;

    &::before {
      content: "[v]";
      text-decoration: underline var(--ColorBackground);
    }
  }

  label {
    padding-left: 1rem;
    display: flex;
    gap: 1.2rem;

    &::before {
      content: "[  ]";
    }
  }
}

.result-cont {
  display: flex;

  #result {
    display: flex;
    align-items: center;
    font-weight: 900;

    &::after {
      content: "";
      position: relative;
      width: 2px;
      height: 70%;
      background-color: var(--ColorPrimary);
      margin-left: 0.5rem;
      animation: blink 1s step-end infinite;
    }
  }
  #result-hide {
    display: none;
  }

  .copy-btn {
    margin-left: auto;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.modal-cont {
  background-color: var(--ColorBackground);
  box-shadow: var(--PrimaryShadow);
  width: 60%;
  max-width: 36rem;
  height: 40%;
  max-height: 28rem;
  position: absolute;
  padding: 3.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px outset var(--ColorPrimary);

  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &.open {
    display: flex;
  }

  text-align: center;

  .modal-txt {
    width: auto;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
